*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

/module-template/

base-kmp/src/commonMain/resources/assets/funny_sign_v1_release.js
funny_sign_v1_release_template.js
encrypt_funny_js.js
signing.properties
sign_new_key.py

.env

composeApp/release/

/get_recent_commit.py
*.psd
/google_private_key.pem
composeApp/google/release/composeApp-google-release.aab