*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

/buildSrc_/
/module-template/

base-kmp/src/commonMain/resources/assets/funny_sign_v1_release.js
funny_sign_v1_release_template.js
encrypt_funny_js.js
signing.properties

.env